.App-list {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  text-align: center;
}
.button {
  height: 20px;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  padding-left: 10px;
}
